:root {
  --vxe-brand: #5e7ce0;
  --vxe-border-radius: 4px;
  --vxe-list-item-selected-bg: #f2f5fc;
  --vxe-danger: #f66f6a;
  --vxe-font-size-icon: 16px;
  --vxe-icon-fill-active: #5e7ce0;
  --vxe-info: #5e7ce0;
  --vxe-icon-text: #252b3a;
  --vxe-list-item-hover-bg: #f2f2f3;
  --vxe-dividing-line: #dfe1e6;
  --vxe-text-weak: #575d6c;
  --vxe-font-size: 14px;
}