@import '../vxe-tree/tree-var.scss';

$font-size-map: (
  md: 12px,
);
$checkbox-width-map: (
  md: 16px,
);
$checkbox-label-height-map: (
  md: 32px,
);
.#{$vxe-prefix}-checkbox {
  position: relative;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  height: 100%;
  margin: 0;

  .#{$vxe-prefix}-checkbox__tick-wrap {
    position: absolute;

    .#{$vxe-prefix}-checkbox__tick {
      fill: #ffffff;
      stroke-dashoffset: 50;
      opacity: 0;
      transform: scale(0);
      transform-origin: 50% 50%;
      transition: stroke-dashoffset 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
  }

  &.active:not(.half-checked) .#{$vxe-prefix}-checkbox__tick {
    opacity: 1;
    stroke-dashoffset: 0;
    transform: scale(1);
    transition: stroke-dashoffset 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06), opacity 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  &.active,
  &.half-checked {
    &:not(.disabled) .#{$vxe-prefix}-checkbox__material:not(.custom-color) {
      border-color: $vxe-brand;
    }
    .#{$vxe-prefix}-checkbox--bordered {
      border-color: $vxe-brand;
    }
  }

  &.active:not(.disabled) {
    .#{$vxe-prefix}-checkbox__material {
      background-size: 100% 100%;
      transition: background-size 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }
  }

  &.unchecked:not(.disabled) {
    .#{$vxe-prefix}-checkbox__material:not(.custom-color) {
      background-size: 0% 0%;
      transition: background-size 0.2s ease-in-out, border-color 0.2s ease-in-out;

      &:hover {
        border-color: $vxe-brand;
      }
    }
  }

  &.unchecked:not(.disabled) {
    .#{$vxe-prefix}-checkbox__material.custom-color {
      background-size: 0% 0%;
      transition: background-size 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }
  }

  &.half-checked {
    .#{$vxe-prefix}-checkbox__material:not(.custom-color) {
      background-color: $vxe-brand;

      & > .#{$vxe-prefix}-checkbox__halfchecked-bg {
        opacity: 1;
        transform: scale(0.4288);
        transition: transform 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        background-color: #ffffff;
      }
    }
  }

  &.half-checked {
    .#{$vxe-prefix}-checkbox__material.custom-color {
      & > .#{$vxe-prefix}-checkbox__halfchecked-bg {
        opacity: 1;
        transform: scale(0.4288);
        transition: transform 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        background-color: #ffffff;
      }
    }
  }

  .#{$vxe-prefix}-checkbox__material {
    text-align: initial;
    height: 14px;
    width: 14px;
    position: relative;
    user-select: none;
    border: 1px solid #adb0b8;
    border-radius: 2px;
    background: linear-gradient($vxe-brand, $vxe-brand) no-repeat 50%/0;
    margin-right: 8px;
    vertical-align: text-bottom;

    &.#{$vxe-prefix}-checkbox__default-background {
      background-color: #ffffff;
    }

    &.#{$vxe-prefix}-checkbox--no-label {
      margin-right: 0;
    }

    & > .#{$vxe-prefix}-checkbox__halfchecked-bg {
      display: inline-block;
      position: absolute;
      content: '';
      background-color: #ffffff;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: scale(1);
      opacity: 0;
    }

    & > svg {
      width: 14px;
      height: 14px;
    }
  }

  &:not(.disabled).half-checked {
    .#{$vxe-prefix}-checkbox__material:not(.custom-color) {
      &:focus,
      &:active,
      &:hover {
        background-color: $vxe-brand;
      }

      // 激活状态深色
      &:active,
      &:focus,
      &:hover:active,
      &:hover:focus {
        background-color: #344899;
      }
    }
  }

  // &__input {
  //   opacity: 0;
  //   position: absolute;
  //   margin: 0;
  //   z-index: -1;
  //   width: 0;
  //   height: 0;
  //   overflow: hidden;
  //   left: 0;
  //   pointer-events: none;
  // }

  & label {
    position: relative;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    color: #252b3a;
    margin: 0;
    display: flex;
    align-items: center;
    @each $size in ('lg', 'md', 'sm') {
      &.#{$vxe-prefix}-checkbox--#{$size} {
        display: flex;
        align-items: center;
        font-size: map-get($font-size-map, #{$size});

        .#{$vxe-prefix}-checkbox__material {
          width: map-get($checkbox-width-map, #{$size});
          height: map-get($checkbox-width-map, #{$size});

          & > svg {
            width: map-get($checkbox-width-map, #{$size});
            height: map-get($checkbox-width-map, #{$size});
          }
        }

        &.#{$vxe-prefix}-checkbox--bordered {
          height: map-get($checkbox-label-height-map, #{$size});
          padding: 0 15px 0 10px;
        }
      }
    }

    &.#{$vxe-prefix}-checkbox--bordered {
      border: 1px solid #dfe1e6;
      border-radius: 2px;
    }

    & > span {
      display: inline-block;
      box-sizing: content-box;
      vertical-align: top;

      &.#{$vxe-prefix}-checkbox__material {
        flex-shrink: 0; // keep the checkbox icon width
      }

      &.#{$vxe-prefix}-checkbox__label-text {
        flex-shrink: 1; // just use flex box to shrink text width. let text ellipsis
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

  }

  // 禁用状态透明色
  &.disabled {
    label {
      cursor: not-allowed;
      color: #adb0b8;
    }

    .#{$vxe-prefix}-checkbox__material {
      border-color: #beccfa;
      background-color: #beccfa;
    }

    &.unchecked {
      .#{$vxe-prefix}-checkbox__material {
        border-color: #dfe1e6;
        background-color: #f5f5f6;
      }
    }

    &.half-checked {
      .#{$vxe-prefix}-checkbox__material {
        background-color: #f5f5f6;

        .#{$vxe-prefix}-checkbox__halfchecked-bg {
          transform: scale(0.4288);
          background-color: #adb0b8;
          opacity: 1;
        }
      }
    }

    &.active {
      svg polygon {
        fill: #ffffff;
      }
    }
  }
}

.#{$vxe-prefix}-checkbox--no-animation {
  transition: none !important;
}

.#{$vxe-prefix}-checkbox__column-margin {
  height: 28px;
  line-height: 28px;
}

.#{$vxe-prefix}-checkbox__wrap .#{$vxe-prefix}-checkbox label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
