@font-face {
  font-family: "iconfont"; /* Project id 4104479 */
  src: url('iconfont.woff2?t=1685938422969') format('woff2'),
       url('iconfont.woff?t=1685938422969') format('woff'),
       url('iconfont.ttf?t=1685938422969') format('truetype'),
       url('iconfont.svg?t=1685938422969#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-MinusSquare:before {
  content: "\e601";
}

.icon-PlusSquare:before {
  content: "\e602";
}

.icon-zengjia:before {
  content: "\e603";
}

.icon-shanchu:before {
  content: "\e604";
}

